[submodule "pack/bchifu/start/vim-fugitive"]
	path = pack/bchifu/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/bchifu/start/fzf-vim"]
	path = pack/bchifu/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/bchifu/start/utilsnips"]
	path = pack/bchifu/start/utilsnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/bchifu/start/vim-snippets"]
	path = pack/bchifu/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "pack/bchifu/start/vim-airline"]
	path = pack/bchifu/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/bchifu/start/vim-airline-themes"]
	path = pack/bchifu/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/bchifu/start/syntastic"]
	path = pack/bchifu/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/bchifu/start/vim-colors-solarized"]
	path = pack/bchifu/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "pack/bchifu/start/nerdtree"]
	path = pack/bchifu/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/bchifu/start/fzf"]
	path = pack/bchifu/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/bchifu/start/vim-virtualenv"]
	path = pack/bchifu/start/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "pack/bchifu/start/unimpared"]
	path = pack/bchifu/start/unimpared
	url = https://tpope.io/vim/unimpaired.git
[submodule "pack/bchifu/start/vim-eunuch"]
	path = pack/bchifu/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "pack/bchifu/start/vim-buffkill"]
	path = pack/bchifu/start/vim-buffkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "pack/bchifu/start/salt-vim"]
	path = pack/bchifu/start/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "pack/bchifu/start/vim-mundo"]
	path = pack/bchifu/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "pack/bchifu/start/limelight-vim"]
	path = pack/bchifu/start/limelight-vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "pack/bchifu/start/vim-sensible"]
	path = pack/bchifu/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "pack/bchifu/start/vim-repeat"]
	path = pack/bchifu/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/bchifu/start/vim-surround"]
	path = pack/bchifu/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/bchifu/start/vim-commentary"]
	path = pack/bchifu/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/bchifu/start/vim-endwise"]
	path = pack/bchifu/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "pack/bchifu/start/vim-goyo"]
	path = pack/bchifu/start/vim-goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/bchifu/start/vim-rhubarb"]
	path = pack/bchifu/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/bchifu/start/vim-easyclip"]
	path = pack/bchifu/start/vim-easyclip
	url = https://github.com/svermeulen/vim-easyclip.git
[submodule "pack/bchifu/start/vim-abolish"]
	path = pack/bchifu/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
